# 01 Import libraries

In [25]:
# Import libraries
import pandas as pd
import numpy as np
import os

# 02 Data Types

In [29]:
# code 3 different ways of reaching a result of 100 by adding or subtracting numeric values. 
x = 99
y = 1

In [32]:
x + y

100

In [48]:
x = 200
y = 100

In [50]:
x - y

100

In [42]:
x = 10
y = 2

In [46]:
x ** y

100

In [52]:
#code 2 floating-point variables and divide them by each other.
a = 25.5
b = 12.5

In [54]:
a / b

2.04

In [82]:
l = 'learing '
p = 'python '

In [62]:
l + p

'learing python'

In [76]:
s = 'Learning pyhton for data analytics. '
d = 'It is a very popular programing language'

In [78]:
print (s + d)

Learning pyhton for data analytics. It is a very popular programing language

In [84]:
p * 100

'python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python python '