# Exercise 4.6

# 01. Import Libraries

In [5]:
# importing libraries
import pandas as pd
import numpy as nm
import os

# 02. Import data

In [9]:
#importing datasets products and prepared orders
path = r'/Users/mohammedRusso/Documents/DATA_ANALYST_COURSE/DATA_Immersion_Submissions/Assingment 4/01-2025 Instacart Basket Analysis'
df_ords_prods_comb = pd.read_pickle(os.path.join(path, '02 Data', 'prepared Data', 'orders_products_combined.pkl'))
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

# 03. Data Check

In [11]:
df_ords_prods_comb.shape

(32640698, 11)

In [27]:
df_ords_prods_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,1,112108,4,4,10,9.0,NaN,NaN,NaN,left_only
1,2,202279,3,5,9,8.0,33120.0,1.0,1.0,both
2,2,202279,3,5,9,8.0,28985.0,2.0,1.0,both
3,2,202279,3,5,9,8.0,9327.0,3.0,0.0,both
4,2,202279,3,5,9,8.0,45918.0,4.0,1.0,both

In [30]:
df_prods.shape

(49672, 6)

In [32]:
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [34]:
df_prods = df_prods.drop(['Unnamed: 0'], axis=1)

In [44]:
df_ords_prods_comb = df_ords_prods_comb.drop(['_merge'], axis=1)

#### 04. Determine a suitable way to combine the orders_products_combined dataframe with your products data set.

In [60]:
# merging the 2 dataframes
df_merged = df_ords_prods_comb.merge(df_prods, on=['product_id'], indicator = True)

In [48]:
df_merged.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2,202279,3,5,9,8.0,33120.0,1.0,1.0,Organic Egg Whites,86,16,11.3,both
1,2,202279,3,5,9,8.0,28985.0,2.0,1.0,Michigan Organic Kale,83,4,13.4,both
2,2,202279,3,5,9,8.0,9327.0,3.0,0.0,Garlic Powder,104,13,3.6,both
3,2,202279,3,5,9,8.0,45918.0,4.0,1.0,Coconut Butter,19,13,8.4,both
4,2,202279,3,5,9,8.0,30035.0,5.0,0.0,Natural Sweetener,17,13,13.7,both

In [50]:
df_merged.shape

(32404859, 14)

In [54]:
df_merged['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [58]:
# Exporting to pkl format
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_merged.pkl'))